@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600;700&display=swap');

$yellow: #fbffa7;
$orange: #ff764d;
$light-blue: #b1c5ff;
$purple: #d5b3ff;
$green: #b6ffc0;
$dark-blue: #0000ff;

* {
    font-family: 'Maven Pro';
    box-sizing: border-box;
}