@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap');

$main-bg-color: #f3f1ed;
$yellow: #fbffa7;
$orange: #ff764d;
$light-blue: #b1c5ff;
$purple: #d5b3ff;
$green: #b6ffc0;
$dark-blue: #0000ff;

* {
    font-family: 'Maven Pro';
    box-sizing: border-box;
}

body {
    background-color: $main-bg-color;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

img {
    display: inline-block;
    width: 100%;

    // border-radius: .2rem;
    // box-shadow: 8px 8px 20px 0px rgba(66, 68, 90, 1);
}

.main-container {
    width: 85vw;
    margin: 0 auto;
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    border-bottom: 2px solid $main-bg-color;
    font-weight: 500;
    a {
        display: inline-block;
    }
    .left-nav {
        display: flex;
        align-items: center;
        gap: 1.8rem;
        font-size: 1.2rem;
        img {
            width: 80px;
            display: inline-block;
        }

        #more-btn {
            color: $orange;
        }
    }
    .right-nav {
        display: flex;
        display: flex;
        align-items: baseline;
        gap: 1.8rem;
        font-size: 1rem;

        #try-live {
            font-size: 1.2rem;
            color: $dark-blue;
        }
    }
}

section {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown {
    font-weight: 500;
    display: flex;
    align-items: baseline;
    gap: 2rem;
    padding: 1.5rem 2rem;
    background: rgba($color: #ffffff, $alpha: .9);
    position: sticky;
    top: 0;
    z-index: 2;
    #about-btn {
        color: $orange;
    }   
}

.text-container {
    margin: 2rem 0;
    width: 50%;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.6rem;
    h2 {
        line-height: 2.5rem;
        font-size: 1.6rem;
        font-weight: 600;
    }
}

.max-width-img-container {
    position: relative;
    width: 85%;
}

#hero {
    padding-top: 0;
    margin-top: 1rem;
    .hero-img-container {
        margin-bottom: 5rem;
        .hero-text-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            h1 {
                color: $orange;
                font-size: 7rem;
                margin: 0;
                padding: 0;
            }
        }
    }
    .text-container {
        span {
            color: $dark-blue;
        }
    }
}

#two-images {
    position: relative;
    & div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            display: inline-block;
            width: 40%;
        }
    }
    &::before {
        content: "";
        width: 70%;
        height: 100%;
        position: absolute;
        top:0;
        right: 0;
        background: $yellow;
    }
}

#making-music {
    padding: 2rem 0;
    .sole-image {
        img {
            display: inline-block;
            width: 100%;
        }
        p {
            margin: 0;
            font-size: 1rem;
        }
    }
}

#three-pictures {
    padding: 6rem 0;
    position: relative;
    &::before {
        content: "";
        background-color: $green;
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: 100%;
    }
    & .max-width-img-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .image-column {
        gap: 5rem;
        flex-basis: 50%;
        img {
            display: inline-block;
            width: 80%;
        }
    }
    .single-image {
        flex-basis: 50%;
        img {
            width: 80%;
        }
    }
    .image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        &:last-of-type {
            align-items: flex-end;
        }
    }
    
}

#office-images {
    padding: 15rem 0;
    position: relative;
    .max-width-img-container {
        width: 93%;
        align-self: flex-end;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 40%;
        }
    }
    &::before {
        content: "";
        top: 0;
        left: 15%;
        background: $purple;
        width: 70%;
        height: 100%;
        position: absolute;
    }
}

#latest-jobs {
    margin: 4rem 0;
    .max-width-img-container {
        display: flex;
        justify-content: space-between;
        background-color: $light-blue;
    }
    #latest-jobs-img-container {
        display: inline-block;
        width: 50%;
        img {
            height: 100%;
        }
    }
    #latest-jobs-text-section {
        margin-right: 10rem;
        display: inline-block;
        width: 27%;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h2, a {
            line-height: 1.8rem;
            font-weight: 500;
            font-size: 1.6rem;
        }
        a {
            color: $dark-blue;
        }
    }
}